<div class="container">
      <h1 class="text-center">Edit Details</h1>

  <div class ="well col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= bootstrap_form_for @horse do |f| %>

        <%= f.text_field :breed, :placeholder => "Horse Name", :class => "form-control"%>
        <%= f.text_field :origin, :placeholder => "Horse Description", :class => "form-control text-area" %>
         <%= f.text_field :bloodtype, :placeholder => "Horse Bloodtype", :class => "form-control text-area" %>
         <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
        <br/>
        <%= f.submit :class => "btn btn-tag btn-lg center-block"%>

        <% end %>

      </div>
 <div><%= link_to "&larr; Back to List".html_safe, horses_path %></div>

  </div>

</div>