<!DOCTYPE html>
<html>
<head>
  <title>HorseBreedApp</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Playfair+Display+SC:700,400' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400|Raleway:100,400,200,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">



      <a class="brand pull-left" href="/"> <%= image_tag("horsehead.png", :id => "logo") %> HobbyHorse</a>


    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/" class="">View Breeds</a></li>
        <li class="active"><%= link_to 'Add Breed', new_horse_path %> </li>
        <li class="active"><%= link_to 'View Disciplines', tags_index_path %> </li>
        <li class="active"><%= link_to 'Add Discipline', tags_new_path %> </li>

      </ul>
    </div>
  </div>
</nav>


<div class"container">
<%= yield %>
</div>


</body>
</html>
